doctype html
html(lang='en', ng-app='app')
	head
		meta(charset='utf-8')
		meta(name='robots', content='noindex, nofollow')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		title Mealmade
		link(href='/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='/components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='/style.css', rel='stylesheet')
		link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon', id="favicon")
	body
		block content
